<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmpManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/empservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.controller.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>com.controller.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/displayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/updateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteservlet</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
    <description></description>
    <display-name>UpdateSearchServlet</display-name>
    <servlet-name>UpdateSearchServlet</servlet-name>
    <servlet-class>updatesearchservlet.UpdateSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>UpdateSearch</display-name>
    <servlet-name>UpdateSearch</servlet-name>
    <servlet-class>com.controller.UpdateSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearch</servlet-name>
    <url-pattern>/updatesearch</url-pattern>
  </servlet-mapping>
</web-app>